.card-1 {
  display: flex;
  flex-direction: column;
  padding: 0.25em;
  margin: 0.25em;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--cor-card-1);
  height: 100%;
}

.card-2 {
  display: flex;
  flex-direction: column;
  padding: 0.25em;
  margin: 0.25em;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
  border-radius: 10px;
  background-color: var(--cor-card-2);
  height: 100%;
}

.card-3 {
  display: flex;
  flex-direction: column;
  padding: 0.25em;
  margin: 0.25em;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
  border-radius: 10px;
  background-color: var(--cor-card-3);
  height: 100%;
}
